@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p><a href="/Identity/Account/Login">Click here</a> to get redirected to the login page.</p>
</div>