@page "/liked/{CurrentPage:int?}"
@using CyberSaloon.Client.Pages.Applications.Pages

<div class="common-page-title">
    <h1>Applications submitted by you</h1>
</div>

<ApplicationsPage 
        Action="liked"
        ErrorMessage="You have not put a like on any application yet."
        CurrentPage=@CurrentPage
    />