@page "/welcome"

<div class="welcome-container">
<h3>Welcome to the CyberSaloon!</h3>
<p>This application is purposed to reach out to artists and express interest in their arts by publishing an application for an art.</p>
<p>Find you favorite artists and leave an application for an art or leave a like on existing applications in order to let artists know what you expect from them.</p>
<p>We hope you enjoy this application! 🎁</p>
</div>
